@model IEnumerable<Ausgaben_Management_App.Models.TbTransaktion>

@{

    ViewData["PageTitle"] = "Transaktions";
    ViewData["PageActionText"] = "+ Neu Transaktion";
    ViewData["PageActionUrl"] = "/Transaktion/AddOrEdit";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="TbTransaktion" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowExcelExport allowPaging="true">
            <e-grid-pagesettings pagesize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Kategorie" field="KategorieTitelMitIcon"></e-grid-column>
                <e-grid-column headerText="Datum" field="Datum" width="110px"
                type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Betrag" field="FormattedBetrag" textAlign="Right"  width="110px"></e-grid-column>
                <e-grid-column headerText="Aktion" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">

        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaktion/AddOrEdit/${TransaktionId}">
         <i class="fa-solid fa-pen fa-lg">  </i>
        </a>
        <form action="/Transaktion/Delete/${TransaktionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Möchten Sie diesen Datensatz wirklich löschen?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
    </script>